<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate class="simple-form">
      <label>
          search
          <input type="text" ng-model="movie" ng-change="search(movie)"/>
      </label>
      <input type="submit" ng-click="pesquisar(movie)" value="Save" />
  </form>
  <p ng-hide="{{response.data.Search}}">
    <li ng-repeat="movie in movies">
      {{movie.Title}} <button ng-click="toggleFavorites(movie)">+</button>
    </li>
    <li ng-show="resultEmpty && movie.length">No events</li>
  </p>
</div>
