/*
    Vars - Colors
*/

$backGroundColor: #302e2e;
$invertedBackGroundColor: #FF0;

$listItemColor: #FFF;
$listBackGroundItemColor: #F00;
$listItemColorHoverOrFocus: $listBackGroundItemColor;
$listBackGroundItemColorHoverOrFocus: $listItemColor;
$listItemColorActive: #FF0;
