/*
    Form - Inputs. Buttons
*/

input,.btn{
  border: 1px solid #FFF;
  padding: $padding-box;
  font-family: inherit;
  font-size: 1em;
}

.form__search__text{
  padding-left: 1em;
}

.form__search__btn, .btn{
  padding: 1em 2em;
  background: $bg-color;
  color: $font-color-reversed;
}